.homeContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeContainer h1 {
    color: white;
    border: 3px solid white;
    padding: 20px;
    border-radius: 10px;
}

.homeContainer h1 span {
    color: var(--darkred);
}
