* {
    padding: 0px;
    margin: 0px;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins";
    font-weight: 900;
    text-decoration: none;
    transition: .2s;
}

body {
    background-image: repeating-linear-gradient(45deg, rgba(255,255,255, 0.05) 0px, rgba(255,255,255, 0.05) 1px,transparent 1px, transparent 11px,rgba(255,255,255, 0.05) 11px, rgba(255,255,255, 0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(90deg, rgba(255,255,255, 0.05) 0px, rgba(255,255,255, 0.05) 1px,transparent 1px, transparent 11px,rgba(255,255,255, 0.05) 11px, rgba(255,255,255, 0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(0deg, rgba(255,255,255, 0.05) 0px, rgba(255,255,255, 0.05) 1px,transparent 1px, transparent 11px,rgba(255,255,255, 0.05) 11px, rgba(255,255,255, 0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(135deg, rgba(255,255,255, 0.05) 0px, rgba(255,255,255, 0.05) 1px,transparent 1px, transparent 11px,rgba(255,255,255, 0.05) 11px, rgba(255,255,255, 0.05) 12px,transparent 12px, transparent 32px),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
    animation: 1s movebg infinite alternate;
}

.App {
    max-width: 100%;
}

:root {
    --cleargray: #9bbfb6;
    --darkred: #d44136;
    --blue: #2e6feb;
    --cyan:#00ebb9;
    --silver: #b1b7c2;
    --clearblue: #78c0d7;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--darkred);
}

::-webkit-scrollbar-track {
    background: var(--cleargray);
}
